flows/3_Square_Dance.json
[{"id":"c6bc94f0.e3c3a8","type":"tab","label":"3_Square_Dance","disabled":false,"info":"Make the drone fly a square, returning to it's starting place and facing in the same direction."},{"id":"eb99751e.a013c8","type":"inject","z":"c6bc94f0.e3c3a8","name":"Command","topic":"","payload":"command","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":80,"wires":[["593c5ee8.da16f","2f8edebc.1a5422"]]},{"id":"593c5ee8.da16f","type":"delay","z":"c6bc94f0.e3c3a8","name":"","pauseType":"delay","timeout":"6","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":240,"y":180,"wires":[["c84baaf6.1564d8"]]},{"id":"c84baaf6.1564d8","type":"change","z":"c6bc94f0.e3c3a8","name":"Take Off","rules":[{"t":"set","p":"payload","pt":"msg","to":"takeoff","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":180,"wires":[["96437afd.1095d8","f95a8198.6b6f4"]]},{"id":"4bd5d2c.910612c","type":"udp out","z":"c6bc94f0.e3c3a8","name":"","addr":"192.168.10.1","iface":"","port":"8889","ipv":"udp4","outport":"64000","base64":false,"multicast":"false","x":870,"y":940,"wires":[]},{"id":"b5b4aaf2.cec1f8","type":"debug","z":"c6bc94f0.e3c3a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":830,"y":1000,"wires":[]},{"id":"c79ebced.66887","type":"link in","z":"c6bc94f0.e3c3a8","name":"","links":["d5c5dbfa.ea5468","2f8edebc.1a5422","7bf71d09.1d7eb4","e86c1799.99fdb8","dd04e863.7b2208","f95a8198.6b6f4","1c0b4738.9042f9","127c1475.c925ac","983ffb12.aed4b8","99a6c5d6.c8ef38","fff25583.9fbef8","76c05060.cbc8","a329fa39.da35a8"],"x":475,"y":940,"wires":[["4bd5d2c.910612c","b5b4aaf2.cec1f8"]]},{"id":"2f8edebc.1a5422","type":"link out","z":"c6bc94f0.e3c3a8","name":"","links":["c79ebced.66887"],"x":715,"y":80,"wires":[]},{"id":"96437afd.1095d8","type":"delay","z":"c6bc94f0.e3c3a8","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":240,"y":280,"wires":[["50afabd3.73f6f4"]]},{"id":"50afabd3.73f6f4","type":"change","z":"c6bc94f0.e3c3a8","name":"Forward 50cm","rules":[{"t":"set","p":"payload","pt":"msg","to":"forward 50","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":280,"wires":[["2069abcd.e9c954","dd04e863.7b2208"]]},{"id":"2069abcd.e9c954","type":"delay","z":"c6bc94f0.e3c3a8","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":240,"y":380,"wires":[["4c49ae9.008095"]]},{"id":"4c49ae9.008095","type":"change","z":"c6bc94f0.e3c3a8","name":"Turn Clockwise 90 degrees","rules":[{"t":"set","p":"payload","pt":"msg","to":"cw 90","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":380,"wires":[["e86c1799.99fdb8","4c9ee6d2.349b88"]]},{"id":"e86c1799.99fdb8","type":"link out","z":"c6bc94f0.e3c3a8","name":"","links":["c79ebced.66887"],"x":715,"y":380,"wires":[]},{"id":"dd04e863.7b2208","type":"link out","z":"c6bc94f0.e3c3a8","name":"","links":["c79ebced.66887"],"x":715,"y":280,"wires":[]},{"id":"f95a8198.6b6f4","type":"link out","z":"c6bc94f0.e3c3a8","name":"","links":["c79ebced.66887"],"x":715,"y":180,"wires":[]},{"id":"4c9ee6d2.349b88","type":"delay","z":"c6bc94f0.e3c3a8","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":240,"y":460,"wires":[["f20d768f.a088e8"]]},{"id":"f20d768f.a088e8","type":"change","z":"c6bc94f0.e3c3a8","name":"Forward 50cm","rules":[{"t":"set","p":"payload","pt":"msg","to":"forward 50","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":460,"wires":[["2b71bd2c.997242","983ffb12.aed4b8"]]},{"id":"2b71bd2c.997242","type":"delay","z":"c6bc94f0.e3c3a8","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":240,"y":540,"wires":[["3606db5.3634d24"]]},{"id":"3606db5.3634d24","type":"change","z":"c6bc94f0.e3c3a8","name":"Turn Clockwise 90 degrees","rules":[{"t":"set","p":"payload","pt":"msg","to":"cw 90","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":540,"wires":[["127c1475.c925ac","7e8497ea.0ff678"]]},{"id":"127c1475.c925ac","type":"link out","z":"c6bc94f0.e3c3a8","name":"","links":["c79ebced.66887"],"x":715,"y":540,"wires":[]},{"id":"983ffb12.aed4b8","type":"link out","z":"c6bc94f0.e3c3a8","name":"","links":["c79ebced.66887"],"x":715,"y":460,"wires":[]},{"id":"7e8497ea.0ff678","type":"delay","z":"c6bc94f0.e3c3a8","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":240,"y":620,"wires":[["904794ee.68cf08"]]},{"id":"904794ee.68cf08","type":"change","z":"c6bc94f0.e3c3a8","name":"Forward 50cm","rules":[{"t":"set","p":"payload","pt":"msg","to":"forward 50","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":620,"wires":[["d50ce077.ca1b8","fff25583.9fbef8"]]},{"id":"d50ce077.ca1b8","type":"delay","z":"c6bc94f0.e3c3a8","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":240,"y":700,"wires":[["a79b57c5.f86838"]]},{"id":"a79b57c5.f86838","type":"change","z":"c6bc94f0.e3c3a8","name":"Turn Clockwise 90 degrees","rules":[{"t":"set","p":"payload","pt":"msg","to":"cw 90","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":700,"wires":[["99a6c5d6.c8ef38","43002a4b.6611e4"]]},{"id":"99a6c5d6.c8ef38","type":"link out","z":"c6bc94f0.e3c3a8","name":"","links":["c79ebced.66887"],"x":715,"y":700,"wires":[]},{"id":"fff25583.9fbef8","type":"link out","z":"c6bc94f0.e3c3a8","name":"","links":["c79ebced.66887"],"x":715,"y":620,"wires":[]},{"id":"43002a4b.6611e4","type":"delay","z":"c6bc94f0.e3c3a8","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":240,"y":780,"wires":[["5e11d73.2098828"]]},{"id":"5e11d73.2098828","type":"change","z":"c6bc94f0.e3c3a8","name":"Forward 50cm","rules":[{"t":"set","p":"payload","pt":"msg","to":"forward 50","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":780,"wires":[["76c05060.cbc8","aab8a1b3.88f1b"]]},{"id":"76c05060.cbc8","type":"link out","z":"c6bc94f0.e3c3a8","name":"","links":["c79ebced.66887"],"x":715,"y":780,"wires":[]},{"id":"aab8a1b3.88f1b","type":"delay","z":"c6bc94f0.e3c3a8","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":240,"y":860,"wires":[["152fab93.9938f4"]]},{"id":"152fab93.9938f4","type":"change","z":"c6bc94f0.e3c3a8","name":"Turn Clockwise 90 degrees","rules":[{"t":"set","p":"payload","pt":"msg","to":"cw 90","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":860,"wires":[["a329fa39.da35a8"]]},{"id":"a329fa39.da35a8","type":"link out","z":"c6bc94f0.e3c3a8","name":"","links":["c79ebced.66887"],"x":715,"y":860,"wires":[]}]